html, body{
    margin: 0px;
    height: 100%;
    width: 100%;
}

.row{
    height: 25%;
    padding: 0px;
}

.col{
    display: flex;
    margin: 5px;
    border: 1px solid black;
    padding: 0px;
    justify-content: center;
    align-items: center;
    font-size: 7vw;
    cursor: pointer;
    z-index: 5;
    background: black;
}

.container{
    border: 1px solid red;
}

.bloqueado{
    cursor: default;
    z-index: -1;
}
